@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

@font-face {
    font-family: Aceh;
    src: url(./assets/fonts/Aceh-Regular.otf) format('opentype');
}

.homeWrapper {
    width: 100%;
    overflow-x: hidden;
}
.hero {
    position: relative;
    background: url(../../assets/hero-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #ffffff;
    width: 640px;
    font-family: "Literata", serif;
    font-style: normal;
    margin-bottom: 0;
}
.hero > button {
    position: absolute;
    right: 50px;
    bottom: 125px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
}
.heroText {
    padding-top: 100px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}
.heroText > p {
    font-size: 20px;
    color: #ffffff;
    width: 580px;
    position: static !important;
    transform: translateX(0) !important;
    font-family: 'Aceh', sans-serif;
}
.heroText button {
    background-color: #3d1551;
    color: #ffffff;
    border-radius: 10px;
    padding: 24px 32px;
    font-size: 20px;
    border: none;
    font-family: 'Aceh', sans-serif;
}

@media screen and (max-width: 1250px) {
    .heroText {
        padding-top: 70px;
        padding-left: 80px;
        width: 100%;
    }
    
}

@media screen and (max-width: 960px) {
    .heroText {
        padding-top: 50px;
        padding-left: 60px;
    }
    h1 {
        font-size: 48px;
        width: 560px;
    }
    .heroText > p {
        width: 440px;
    }
    .heroText button {
        padding: 18px 28px;
    }
}

@media screen and (max-width: 740px) {
    .heroText {
        padding-top: 30px;
        padding-left: 45px;
    }
    h1 {
        font-size: 36px;
    }
    .heroText button {
        font-size: 16px;
    }
    .hero button {
        display: none;
    }
}

@media screen and (max-width: 568px) {
    h1 {
        font-size: 28px;
        width: 70%;
    }
    .heroText > p {
        font-size: 16px;
        width: 65%;
        padding-left: 30px;
    }
    .heroText button {
        padding: 10px;
    }
}