.why {
    padding: 200px 100px 100px;
    width: 100%;
}
.why h2 {
    font-size: 40px;
    font-weight: 600;
    color: #060208;
    font-family: 'Literata', serif;
}
.why h2 span {
    color: #3d1551;
}
.why > p {
    color: #363732;
    font-size: 20px;
    margin-block: 30px;
    width: 700px;
    font-family: 'Aceh';
}
.reasons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}
.reasons .reason {
    background-color: #F3EBFC;
    border-radius: 10px;
    padding: 48px 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    width: 280px;
}
.reason span {
    background-color: white;
    padding: 23px 22px;
    border-radius: 10px;
}
.reason div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    width: 100%;
}
.reason h5 {
    font-size: 25px;
    color: #060208;
    font-family: 'Literata', serif;
}
.reason p {
    text-wrap: balance;
    margin-bottom: 0;
    font-family: 'Aceh', sans-serif;
}

@media screen and (max-width: 1250px) {
    .why {
        padding: 150px 80px 80px;
    }  
}

@media screen and (max-width: 1024px) {
    .why {
        padding: 150px 60px 80px;
    }
    .why > p {
        width: unset;
    }
    .reasons .reason {
        width: 24%;
        padding: 30px 20px;
        gap: 36px;
    }
    .reason span {
        padding: 16px;
    }
    .reason span img {
        width: 32px;
        height: 32px;
    }
    .reason div {
        gap: 20px;
    }
    .reason h5 {
        font-size: 20px;
    }
}

@media screen and (max-width: 740px) {
    .why {
        padding: 150px 45px 60px;
    }
    .reasons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
    .reasons .reason {
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .why {   
        padding: 150px 30px 60px;
    }
    .reasons .reason {
        padding: 28px 18px;
    }
    .reason h5 {
        font-size: 18px;
    }
    .reason span {
        padding: 12px;
    }
    .reason span img {
        width: 26px;
        height: 26px;
    }
    .reason p {
        font-size: 14px;
    }
}