.costumeListing {
  margin: 0;
  height: 74px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.mynauisearchIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.search {
  height: 20px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 27px;
  display: inline-block;
  min-width: 60px;
}
.frame,
.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.frame {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-11xl);
  gap: var(--gap-mini);
}
.expressDeliveryIs {
  width: 693px;
  height: 22px;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 30px;
  color: var(--color-darkslateblue);
  display: inline-block;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  color: rgba(61, 55, 50, 0.7);
}
.costumeListingParent,
.frameWrapper,
.productlistInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.costumeListingParent {
  width: 1240px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.productlistInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-literata);
}
.carbonnextOutlineIcon {
  height: 120px;
  width: 120px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.carbonnextOutlineWrapper {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-23xl);
  box-sizing: border-box;
}
.productlist {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1000px) {
  .costumeListing {
    font-size: var(--font-size-21xl);
  }
}
@media screen and (max-width: 750px) {
  .costumeListingParent {
    gap: 16px 32px;
  }
  .productlist {
    gap: 30px 60px;
  }
}
@media screen and (max-width: 450px) {
  .costumeListing {
    font-size: var(--font-size-11xl);
  }
  .expressDeliveryIs {
    font-size: var(--font-size-base);
  }
}
