header {
    display: flex;
    gap: 36px;
    align-items: center;
    width: 100vw;
    padding: 18px 100px;
    background-color: white;
}

header select option {
    color: #060208;
    min-height: 1em;
}

.search-box {
    position: relative;
}

.search-box input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid #E3E3E3;
    min-width: 360px;
    font-size: 20px;
    outline: none;
}

.search-box input::placeholder {
    font-size: 20px;
    color: #d3d3d3;
}

.search-icon {
    position: absolute;
    top: 12px;
    right: 16px;
}

header a {
    font-size: 18px;
    color: #060208;
}