header {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 18px 100px;
    background-color: white;
}
nav, .mob-nav {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}
.cart {
    position: relative;
}
.cart p {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 14px;
    padding: 1px 5px;
    border-radius: 50%;
    font-weight: 600;
    background-color: red;
    color: white;
}
.mob-nav {
    display: none !important;
}
.ham {
    display: none;
}
header div:first-child {
    display: flex;
    gap: 24px;
    align-items: center;
}
.search-box {
    position: relative;
    width: 360px;
}
.search-box input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid #E3E3E3;
    width: 100%;
    font-size: 18px;
    outline: none;
}
.search-box input::placeholder {
    font-size: 18px;
    color: #d3d3d3;
}
.search-icon {
    position: absolute;
    top: 12px;
    right: 16px;
}
header a {
    font-size: 20px;
    color: #060208;
    text-decoration: none;
    text-wrap: nowrap;
}
aside {
    background-color: hsl(0, 0%, 100%);
    padding: 20px 24px 48px !important;
    width: fit-content !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: 700ms ease-in-out;
    display: none;
}
aside .search-box {
    margin-bottom: 30px;
    padding: 0 !important;
    width: 320px;
}
aside button.close {
    margin-left: auto;
    width: unset;
    background-color: transparent;
    margin-top: 0;
    border: none;
    padding: 0;
}
.show {
    transform: translate(0);
}
.hide {
    transform: translate(-100%, -100%);
    /* display: none; */
}
aside a {
    font-size: 24px !important;
    font-weight: 500;
    color: #060208;
    text-decoration: none;
    text-wrap: nowrap;
}

@media screen and (max-width: 1250px) {
    header {
        padding: 18px 80px;
    }
    header .logo {
        width: 140px;
    }
    header .logo img {
        width: 100%;
    }
    header > .search-box {
        width: 280px;
    }
    header a {
        font-size: 18px;
    }

}

@media screen and (max-width: 960px) {
    header {
        gap: 24px;
        padding: 18px 60px;
    }
    header > .rent {
        display: none;
    }
    header a,
    header > .search-box input,
    header > .search-box input::placeholder {
        font-size: 16px;
    }
}

@media screen and (max-width: 740px) {
    .ham {
        display: block;
    }
    header {
        justify-content: space-between;
        padding: 18px 45px;
    }
    header > .search-box {
        display: none;
    }
    header nav {
        display: none;
    }
    .mob-nav {
        display: flex !important;
    }
    .overlay {
        display: block;
    }
}

@media screen and (max-width: 568px) {
    header {
        padding: 18px 30px;
    }
}