.containerElementIcon {
  height: 338px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.imageElementIcon {
  width: 30px;
  height: 27.2px;
  position: relative;
}
.bookmarkFavoriteFavouriteHe {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-12xs) 0;
}
.bookmarkFavoriteFavouriteHe,
.spacerElement,
.stackElement {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stackElement {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 213px;
  flex-direction: column;
  padding: var(--padding-3xs);
  z-index: 1;
}
.spacerElement {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  gap: var(--gap-3xs);
}
.boysCrown {
  height: 22px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 30px;
  font-weight: 600;
  display: inline-block;
  min-width: 107px;
}
.mdinairaIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  height: 33px;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  min-width: 82px;
}
.mdinairaParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
  font-size: var(--font-size-11xl);
}
.addToCart {
  height: 22px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 30px;
  display: inline-block;
  min-width: 107px;
}
.symbolElementIcon {
  width: 26.7px;
  height: 24px;
  position: relative;
}
.iconShoppingCart {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-xs);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.addToCartParent {
  align-self: stretch;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs-5) var(--padding-19xl);
  gap: var(--gap-xl);
  color: var(--color-darkslateblue);
}
.alignerElement,
.shapeElement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.shapeElement {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.alignerElement {
  width: 303px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  box-shadow: 1px 2px 6px 1px rgba(61, 21, 81, 0.25);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-literata);
}
@media screen and (max-width: 1000px) {
  .div {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .boysCrown {
    font-size: var(--font-size-base);
  }
  .div {
    font-size: var(--font-size-lg);
  }
  .addToCart {
    font-size: var(--font-size-base);
  }
}