.networkBrokerChild {
  height: 416px;
  width: 1135px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  box-shadow: 1px 4px 10px 2px rgba(61, 21, 81, 0.15);
  display: none;
  max-width: 100%;
}
.frameChild {
  position: absolute;
  top: 6px;
  left: 49px;
  width: 225.1px;
  height: 211.8px;
  object-fit: contain;
  z-index: 2;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 122.9px;
  z-index: 3;
}
.frameContainer {
  height: 217.8px;
  width: 274.1px;
  position: absolute;
  margin: 0 !important;
  top: -82px;
  left: -52px;
}
.frameGroup,
.readyToBring {
  position: relative;
  max-width: 100%;
}
.readyToBring {
  margin: 0;
  flex: 1;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 4;
}
.frameGroup {
  width: 445px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.diveIntoOur {
  align-self: stretch;
  height: 72px;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 120%;
  color: var(--color-darkslategray-200);
  display: inline-block;
  z-index: 3;
}
.outputController,
.outputControllerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.outputController {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.outputControllerWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.getStarted {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 120%;
  display: inline-block;
  min-width: 108px;
  white-space: nowrap;
}
.logicGate,
.logicGateWrapper,
.patternMatcher {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.patternMatcher {
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslateblue);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-2xl);
  white-space: nowrap;
  z-index: 2;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.logicGate,
.logicGateWrapper {
  flex-direction: column;
  max-width: 100%;
}
.logicGate {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.logicGateWrapper {
  width: 494px;
  padding: var(--padding-47xl) 0 0;
  box-sizing: border-box;
  min-width: 494px;
}
.networkBrokerItem {
  height: 233.8px;
  width: 232.9px;
  position: relative;
  z-index: 2;
}
.networkBroker {
  width: 1135px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  box-shadow: 1px 4px 10px 2px rgba(61, 21, 81, 0.15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-31xl) var(--padding-71xl);
  box-sizing: border-box;
  gap: var(--gap-132xl);
  max-width: 100%;
  z-index: 1;
}
.frameParent,
.networkBrokerWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.networkBrokerWrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameParent {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-400);
  font-family: var(--font-literata);
}
@media screen and (max-width: 1125px) {
  .logicGateWrapper,
  .networkBrokerItem {
    flex: 1;
  }
  .networkBroker {
    flex-wrap: wrap;
    gap: 151px 75px;
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .readyToBring {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .logicGateWrapper {
    min-width: 100%;
  }
  .networkBroker {
    gap: 151px 38px;
  }
}
@media screen and (max-width: 450px) {
  .readyToBring {
    font-size: var(--font-size-lg);
    line-height: 18px;
  }
  .diveIntoOur {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .networkBroker {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
}
