* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}
.scroll {
  border: 4px solid #3d1551;
  border-radius: 100%;
  padding: 10px;
  background-color: #ffffff;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 5;
}